@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px !important;
}

.d1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 80px !important;
}

.d2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 72px !important;
}

.d3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 64px !important;
}

.d4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 56px !important;
}

.d5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 48px !important;
}

.d6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 42px !important;
}

h1, .h1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 40px !important;
}

h2, .h2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 32px !important;
}

h3, .h3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 28px !important;
}

h4, .h4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 24px !important;
}

h5, .h5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 20px !important;
}

h6, .h6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 16px !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366F1;
  text-decoration: none;
}

.btn-theme {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #6366F1;
  color: #FFFFFF;
  border: none;
}
.btn-theme:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-theme-s {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366F1;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 13px;
}
.btn-theme-s:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-gray {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #EFF2FC;
  color: #33354D;
  border: none;
}
.btn-gray:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch label {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: #6366F1;
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: #FFFFFF;
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

.btn-social {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: #EFF2FC;
  color: #33354D;
}
.btn-social:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

header {
  padding: 15px 0;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo mobile";
  gap: 40px;
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo menu switch buttons";
  }
}
header .container #logo {
  grid-area: logo;
}
header .container #menu {
  grid-area: menu;
  display: none;
}
@media (min-width: 992px) {
  header .container #menu {
    display: block;
  }
}
header .container #menu nav {
  display: flex;
  gap: 15px;
}
header .container .btn-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 992px) {
  header .container .btn-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: buttons;
  display: none;
  gap: 15px;
}
@media (min-width: 992px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-mobile {
  grid-area: mobile;
  display: block;
}
@media (min-width: 992px) {
  header .container .btn-mobile {
    display: none;
  }
}

footer {
  padding: 50px 0 30px 0;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
  color: #9397AD;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.features {
  text-align: center;
  background-color: #D9D9D9;
}
.features .container {
  padding-top: 120px;
}
.features .container p {
  margin-bottom: 30px;
  color: #9397AD;
}
@media (min-width: 992px) {
  .features .container .tool-features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.features .container .box {
  padding: 50px;
  border-bottom: 1px solid black;
}
@media (min-width: 992px) {
  .features .container .box {
    border: 0.1px solid #F3F6FF;
    border-top: none;
    border-radius: 5px;
  }
  .features .container .box:hover {
    background-color: #FFFFFF;
  }
  .features .container .box:nth-child(1) {
    border-left: none;
  }
  .features .container .box:nth-child(3) {
    border-right: none;
  }
  .features .container .box:nth-child(4) {
    border-left: none;
  }
  .features .container .box:nth-child(6) {
    border-right: none;
  }
  .features .container .box:nth-child(n+4) {
    border-top: 0.1px solid #F3F6FF;
  }
}
.features .container .box h5 {
  margin-top: 15px;
}

.showcase {
  margin-bottom: 80px;
}
@media (min-width: 992px) {
  .showcase {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
  }
}
.showcase .background-image {
  position: relative;
  z-index: -1;
  display: none;
}
@media (min-width: 992px) {
  .showcase .background-image {
    display: block;
  }
}
.showcase .container {
  height: 100%;
}
@media (min-width: 992px) {
  .showcase .container {
    position: absolute;
    left: 0;
    right: 0;
  }
}
.showcase .container .content {
  margin-top: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .showcase .container .content {
    margin-left: 0;
    margin-right: 0;
    width: 35%;
    text-align: left;
    margin-top: 75px;
  }
}
.showcase .container .content h1 {
  margin-top: 150px;
  margin-bottom: 35px;
}
.showcase .container .content .brands {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
@media (min-width: 992px) {
  .showcase .container .content .brands {
    width: 50%;
  }
}
.showcase .container .content h6 {
  margin-top: 90px;
}
.showcase .container .content a {
  margin-top: 50px;
  width: 100%;
}
@media (min-width: 992px) {
  .showcase .container .content a {
    width: 55%;
  }
}

.newsletter {
  background-color: #F3F6FF;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .container {
  text-align: center;
}
@media (min-width: 992px) {
  .newsletter .container {
    text-align: left;
    width: 50%;
  }
}
.newsletter .container .checkbox-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 60px;
}
.newsletter .container .checkbox-content .checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.newsletter .container .subscribe {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 20px;
}
.newsletter .container .subscribe input {
  border-radius: 5px;
  border-color: #D4D7E5;
}
