@model AccountSecurityViewModel

<form asp-controller="Account" asp-action="Security" method="post" novalidate>
    <div class="current-password">
        <div class="input-group">
            <div class="validation">
                <label asp-for="Security.Password"></label>
                <span asp-validation-for="Security.Password"></span>
            </div>
            <input asp-for="Security.Password" />
        </div>
    </div>
    <div class="confirm-password">
        <div class="input-group">
            <div class="validation">
                <label asp-for="Security.NewPassword"></label>
                <span asp-validation-for="Security.NewPassword"></span>
            </div>
            <input asp-for="Security.NewPassword" />
        </div>
        <div class="input-group">
            <div class="validation">
                <label asp-for="Security.ConfirmPassword"></label>
                <span asp-validation-for="Security.ConfirmPassword"></span>
            </div>
            <input asp-for="Security.ConfirmPassword" />
        </div>
    </div>
    <div class="buttons">
        <button class="btn-gray" asp-controller="Account" asp-action="Cancel">Cancel</button>
        <button class="btn-theme" type="submit">Change password</button>
    </div>
</form>