@model AccountViewModel

<form asp-controller="Account" asp-action="Security" method="post" novalidate>
    <div class="current-password">
        <div class="input-group">
            <div class="validation">
                <label asp-for="ChangePass.Password"></label>
                <span asp-validation-for="ChangePass.Password"></span>
            </div>
            <input asp-for="ChangePass.Password" />
        </div>
    </div>
    <div class="confirm-password">
        <div class="input-group">
            <div class="validation">
                <label asp-for="ChangePass.NewPassword"></label>
                <span asp-validation-for="ChangePass.NewPassword"></span>
            </div>
            <input asp-for="ChangePass.NewPassword" />
        </div>
        <div class="input-group">
            <div class="validation">
                <label asp-for="ChangePass.ConfirmPassword"></label>
                <span asp-validation-for="ChangePass.ConfirmPassword"></span>
            </div>
            <input asp-for="ChangePass.ConfirmPassword" />
        </div>
    </div>
    <div class="buttons">
        <button class="btn-gray" asp-controller="Account" asp-action="Cancel">Cancel</button>
        <button class="btn-theme" type="submit">Change password</button>
    </div>
</form>
<<<<<<< HEAD
=======

@await Html.PartialAsync("_ValidationScriptPartial")
>>>>>>> 61275a52b4a659f71558cc2fa8bd1775cf69c3ab
