@model AccountViewModel

@if (Model.Details.IsExternalAccount)
{
    <div>
        <p>You are logged in via an external account. Password change is not possible</p>
    </div>
}
else
{
    <form asp-controller="Account" asp-action="Security" method="post" novalidate>
        <div class="current-password">
            <div class="input-group">
                <div class="validation">
                    <label asp-for="ChangePass.Password"></label>
                    <span asp-validation-for="ChangePass.Password"></span>
                </div>
                <input asp-for="ChangePass.Password" />
            </div>
        </div>
        <div class="confirm-password">
            <div class="input-group">
                <div class="validation">
                    <label asp-for="ChangePass.NewPassword"></label>
                    <span asp-validation-for="ChangePass.NewPassword"></span>
                </div>
                <input asp-for="ChangePass.NewPassword" disabled="tast" />
            </div>
            <div class="input-group">
                <div class="validation">
                    <label asp-for="ChangePass.ConfirmPassword"></label>
                    <span asp-validation-for="ChangePass.ConfirmPassword"></span>
                </div>
                <input asp-for="ChangePass.ConfirmPassword" disabled="tast" />
            </div>
        </div>
        <div class="buttons">
            <button class="btn-gray" asp-controller="Account" asp-action="Cancel">Cancel</button>
            <button class="btn-theme" type="submit">Change password</button>
        </div>
    </form>

}


@await Html.PartialAsync("_ValidationScriptPartial")

