@model AccountViewModel

<form asp-controller="Account" asp-action="Delete" method="post" novalidate>
    <h5>Delete account</h5>
    <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>
    <div id="form-terms" class="checkbox">
        <input type="checkbox" asp-for="Delete.DeleteAccount" />
        <label asp-for="Delete.DeleteAccount">Yes, I want to delete my account.</label>
        <span asp-validation-for="Delete.DeleteAccount"></span>
    </div>
    <button class="btn-theme" type="submit">Delete</button>
</form>


@await Html.PartialAsync("_ValidationScriptPartial")
