<section class="download">
    <div class="container">
        <div class="content">
            <div class="img-container">
                <img src="~/images/iphone.svg" />
            </div>
            <div class="right">
                <h2>Download Our App for Any Devices:</h2>
                <div class="box">
                    <p>App Store</p>
                    <div class="five-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                    <img src="~/images/appstore.svg"/>
                </div>
                <div class="box">
                    <p>Google Play</p>
                    <div class="five-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                    <img src="~/images/googleplay.svg" />
                </div>    
            </div>
        </div>        
    </div>
</section>