<section class="manage-work">
    <div class="presentation">
        <h2>Manage Your Work</h2>
        <div class="info">
            <i class="fa-sharp fa-regular fa-circle-check"></i><p>Powerful project management</p>
        </div>
        <div class="info">
            <i class="fa-sharp fa-regular fa-circle-check"></i><p>Transparent work management</p>
        </div>
        <div class="info">
            <i class="fa-sharp fa-regular fa-circle-check"></i><p>Manage work & focus on the most important tasks</p>
        </div>
        <div class="info">
            <i class="fa-sharp fa-regular fa-circle-check"></i><p>Track your progress with interactive charts</p>
        </div>
        <div class="info">
            <i class="fa-sharp fa-regular fa-circle-check"></i><p>Easiest way to track time spent on tasks</p>
        </div>
        <button class="btn-theme">Learn more <i class="fa-solid fa-arrow-right"></i></button>
    </div>
    <div class="image-container">
        <img src="~/images/manage_work.svg" />
    </div>
</section>
