<section class="newsletter">
    <div class="container">
        <h1>Don't Want To Miss Anything?</h1>
        <img src="" alt="" />
        <div class="checkbox-content">
            <div class="news-title">
                <h4>Sign up for <br /> Newsletters</h4>
            </div>
            <div class="checkboxes">
                <div class="box">
                    <input type="checkbox" id="daily-newsletter" name="daily" class="checkbox" />
                    <label for="daily-newsletter">Daily Newsletter</label>
                </div>

                <div class="box">
                    <input type="checkbox" id="daily-newsletter" name="daily" />
                    <label for="daily-newsletter">Daily Newsletter</label>
                </div>

                <div class="box">
                    <input type="checkbox" id="daily-newsletter" name="daily" />
                    <label for="daily-newsletter">Daily Newsletter</label>
                </div>

                <div class="box">
                    <input type="checkbox" id="daily-newsletter" name="daily" />
                    <label for="daily-newsletter">Daily Newsletter</label>
                </div>

                <div class="box">
                    <input type="checkbox" id="daily-newsletter" name="daily" />
                    <label for="daily-newsletter">Daily Newsletter</label>
                </div>

                <div class="box">
                    <input type="checkbox" id="daily-newsletter" name="daily" />
                    <label for="daily-newsletter">Daily Newsletter</label>
                </div>


            </div>
        </div>

        <div class="subscribe">
            <input type="text" name="email" placeholder="Your Email"/>
            <a class="btn-theme" href="#"><span>* Subscribe</span></a>
        </div>
    </div>
</section>
