<section class="newsletter">
    <div class="container">
        <div class="top">
            <h1>Don't Want To Miss Anything?</h1>
            <img src="~/images/arrows.svg" alt="" />
        </div>
        <div class="checkbox-content">
            <div class="news-title">
                <h5>Sign up for <br /> Newsletters</h5>
            </div>
            <div class="checkboxes">
                <div class="box">
                    <input type="checkbox" id="daily-newsletter" />
                    <label for="daily-newsletter">Daily Newsletter</label>
                </div>

                <div class="box">
                    <input type="checkbox" id="advertising" />
                    <label for="advertising">Advertising Updates</label>
                </div>

                <div class="box">
                    <input type="checkbox" id="review" />
                    <label for="review">Week in Review</label>
                </div>

                <div class="box">
                    <input type="checkbox" id="events" />
                    <label for="events">Event Updates</label>
                </div>

                <div class="box">
                    <input type="checkbox" id="startup" />
                    <label for="startup">Startups Weekly</label>
                </div>

                <div class="box">
                    <input type="checkbox" id="podcasts" />
                    <label for="podcasts">Podcasts</label>
                </div>
            </div>
        </div>

        <div class="subscribe">
            <input type="text" name="email" placeholder="Your Email" class="input-email" />
            <a class="btn-theme" href="#"><span>* Subscribe</span></a>
        </div>
    </div>
</section>
