<section id="showcase">
    @await Html.PartialAsync("~/Views/Shared/Sections/_ShowcasePartial.cshtml")
</section>

<section id="features">
    @await Html.PartialAsync("~/Views/Shared/Sections/_FeaturesPartial.cshtml")
</section>

<section id="newsletter">
    @await Html.PartialAsync("~/Views/Shared/Sections/_NewsletterPartial.cshtml")
</section>

