@model HomeIndexViewModel
@await Html.PartialAsync("~/Views/Shared/Sections/_ShowcasePartial.cshtml", new ShowcaseViewModel())

@await Html.PartialAsync("~/Views/Shared/Sections/_FeaturesPartial.cshtml", new FeaturesViewModel())

﻿@await Html.PartialAsync("~/Views/Shared/Sections/_LightAndDarkPartial.cshtml", new HomeLightAndDarkViewModel())

@await Html.PartialAsync("~/Views/Shared/Sections/_ManageYourWorkPartial.cshtml", new HomeManageWorkViewModel())


<section id="download">
    @await Html.PartialAsync("~/Views/Shared/Sections/_DownloadPartial.cshtml")
</section>

<section id="tools">
    @await Html.PartialAsync("~/Views/Shared/Sections/_ToolsPartial.cshtml")
</section>

@await Html.PartialAsync("~/Views/Shared/Sections/_NewsletterPartial.cshtml", new NewsLetterViewModel())


