<section id="showcase">
    @await Html.PartialAsync("~/Views/Shared/Sections/_ShowcasePartial.cshtml")
</section>

<section id="features">
    @await Html.PartialAsync("~/Views/Shared/Sections/_FeaturesPartial.cshtml")
</section>

<section id="lightanddark">
    ﻿@await Html.PartialAsync("~/Views/Shared/Sections/_LightAndDarkPartial.cshtml")
</section>

<section id="manage">
    @await Html.PartialAsync("~/Views/Shared/Sections/_ManageYourWorkPartial.cshtml");
</section>

<section id="download">
    @await Html.PartialAsync("~/Views/Shared/Sections/_DownloadPartial.cshtml")
</section>

<section id="tools">
    @await Html.PartialAsync("~/Views/Shared/Sections/_ToolsPartial.cshtml")
</section>

<section id="newsletter">
    @await Html.PartialAsync("~/Views/Shared/Sections/_NewsletterPartial.cshtml")
</section>


