@model SignInViewModel

<section id="signin" class="container">
    <div class="main-holder">
        <div class="section-title">
            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here.</a></p>
        </div>
        <div class="login-box">
            <form asp-controller="Auth" asp-action="SignIn" method="post">

            </form>
            <div class="email">
                <label>Email</label>
                <input asp-for="Email" placeholder="Enter your email address" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="password">
                <label>Password</label>
                <input asp-for="Password" type="password" id="password" placeholder="******"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="checkbox">
                <input asp-for="RememberMe" type="checkbox" />
                <label asp-for="RememberMe" >Remember me</label>
            </div>
            <button type="submit" class="btn-theme">Sign In</button>
            <div class="social-box">
                <a href="#">Forgot your password?</a>
                <div class="divider"></div>
                <p>Or sign in with your social network</p>
                <div class="social-media">
                    <a href="#"><i class="fa-brands fa-google"></i>Google</a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i>Facebook</a>
                </div>
            </div>
        </div>
    </div>
</section>