@model CoursesViewModel
@await Html.PartialAsync("~/Views/Shared/CourseSections/_CoursesPartial.cshtml", Model.Courses)

<section id="skills">
    @await Html.PartialAsync("~/Views/Shared/CourseSections/_SkillsPartial.cshtml")
</section>