@{
    ViewData["Title"] = "Not available";
}

<section id="not-found">
    <div class="container">
        <div class="text">
            <p>Tjena Hans/Joakim/Tommy! Du har tyvärr hamnat fel. Vi gjorde insatsen att seeda in kurserna så ni själva slapp! Men man orkar ju inte göra varenda en :D. På första sidan har ni kursen "Fullstack web developer" där kan ni se den riktiga sidan! Tack tack</p>
            <a class="btn-theme" asp-controller="Courses" asp-action="Index">Take me back!</a>
        </div>
    </div>
</section>