@model CourseIndexViewModel


    @await Html.PartialAsync("~/Views/Shared/CourseSections/_CoursesPartial.cshtml", Model.Course)


<section id="skills">
    @await Html.PartialAsync("~/Views/Shared/CourseSections/_SkillsPartial.cshtml")
</section>