@{
    // fetch from API
}

<section id="courses" class="container">
    <h1 class="h1">Courses</h1>
    <div class="grid">
        @* @foreach (var course in courses) *@
        <div class="course-card">
            <div class="content">
                <img src="~/images/fullstack_dev.png" />
                <p>Fullstack Web Developer Course from Scratch</p>
                <p class="author">By Robert Fox</p>

                <div class="divider"></div>
                <footer>
                    <div>
                        <i class="fa-sharp fa-solid fa-clock"></i>
                        <p class="price">$12.50</p>
                    </div>
                    <div>
                        <i class="fa-sharp fa-light fa-thumbs-up"></i>
                        <p>94% (4.2K)</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>