#saved-courses {
    margin-top: 40px;
    margin-bottom: 60px;

    .container {
        display: grid;
        justify-content: center;

        @include lg {
            grid-template-columns: 1fr 3fr;
            padding-right: 5rem;
        }

        .menu-bar {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            align-self: flex-start;
            align-items: center;

            @include md {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @include lg {
                grid-template-columns: 1fr;
            }

            .profile {
                text-align: center;

                @include md {
                    padding-right: 3rem;
                }

                h5 {
                    color: black;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 2rem;
                }
            }

            .options {
                display: flex;
                flex-direction: column;


                @include md {
                    padding-right: 1rem;
                }

                a {
                    color: #000;
                    font-weight: 700;
                    padding: 10px;
                    max-width: 300px;
                    width: auto;
                    margin-bottom: 0.2rem;
                    text-decoration: none;
                    border-radius: .4rem;
                    border: 1px solid white;

                    i {
                        padding-right: 1rem;
                        padding-left: 1.2rem;
                    }

                    &:hover,
                    &:active,
                    &:focus,
                    .active {
                        background-color: $theme;
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .active {
                    background-color: $theme;
                    color: #fff;
                }
            }
        }

        .content {
            @include lg {
                border-left: 1px solid $gray-300;
            }

            h2 {
                padding: 0 0 .5rem 1rem;

                @include md {
                    padding: 0 0 2rem 5rem;
                }
            }

            .saved-items {
                padding: 0 1rem 1rem 1rem;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 2.5rem 2rem;

                @include md {
                    padding: 0 1rem 1rem 5rem;
                }

                @include xl {
                    grid-template-columns: repeat(2, 1fr);
                }



                .course-card {
                    border-radius: 2%;
                    @include shadow-m;
                    position: relative;

                    .image {
                        img {
                            width: 100%;
                            max-width: 100%;
                            border-top-left-radius: 2%;
                            border-top-right-radius: 2%;
                        }
                    }

                    .bookmark {
                        position: absolute;
                        width: 2.1rem;
                        aspect-ratio: 1;
                        top: 2%;
                        left: 90%;
                        background-color: $white;
                        border-radius: 50%;

                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &:hover {
                            color: $theme;
                        }
                    }


                    .hide {
                        display: none;
                        color: $white;
                        background-color: $black;
                        padding: 5px;
                        border-radius: 10%;
                        position: absolute;
                        top: -2.2rem;
                        left: 85%;

                        p {
                            margin: 0;
                        }
                    }

                    .bookmark:hover + .hide {
                        display: inline-block;
                    }

                    .course-info {
                        padding: 2rem 2rem 0 2rem;

                        .price {
                            color: $theme;
                            font-size: 1.2rem;
                            font-weight: 700;
                        }

                        .divider {
                            width: 100%;
                            height: 1px;
                            background-color: $gray-300;
                        }
                    }

                    .bottom {
                        padding-top: 1rem;
                        padding-left: 2rem;
                        gap: 2rem;

                        &, * {
                            display: flex;
                            align-items: center;
                        }

                        p {
                            padding-right: .3rem;
                        }

                        i {
                            margin-bottom: .8rem;
                            padding-right: .5rem;
                        }
                    }
                }
            }
        }
    }
}
