.courses {
    margin-top: 60px;
    margin-bottom: 120px;

    .section-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;

        @include md {
            flex-direction: row;
        }

        .search-div {
            display: flex;
            flex-direction: row;
            gap: 3rem;
            margin-top: 1rem;

            select {
                width: 130%;
                height: 1.9rem;
                border-color: $gray-400;
                color: $gray-200;

                option{
                    color: $gray-900;
                }
            }

            .search {
                position: relative;

                input {
                    padding-left: 15px;
                    border: 1px solid $gray-400;
                }

                i {
                    position: absolute;
                    top: 7px;
                    right: 10px;
                }
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem 1rem;

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }

        .course-card {
            box-shadow: 0 3px 10px #0000000f, 0 4px 5px #0000000c;
            border-radius: 1.1rem;
            overflow: hidden;
            padding: 5px;
            border: 1px solid $gray-300;
            padding: 1px;


            &:hover {
                transition: transform 0.3s ease;
                transform: scale(1.02)
            }

            .content {
                padding: 0;
                text-decoration: none;

                .course-info {
                    padding-left: 15px;

                    .title {
                        margin-top: 1rem;
                        font-weight: 800;
                    }

                    .price {
                        color: $theme;
                        font-size: 1.2rem;
                        font-weight: 700;
                    }

                    .author {
                        @include text-s;
                    }
                }

                p {
                    color: $gray-800;
                    padding-left: 5px;
                }

                img {
                    width: 100%;
                    max-width: 100%;
                }

                .divider {
                    width: 90%;
                    height: 1px;
                    background-color: $gray-300;
                    margin-left: 25px;
                }

                footer {
                    padding: 0;
                    padding-top: 1rem;
                    padding-left: 1rem;
                    gap: 2rem;

                    &, * {
                        display: flex;
                        align-items: center;
                    }
                }

                i {
                    padding-right: .1rem;
                    margin-bottom: 1.2rem;
                }
            }
        }
    }
}
