#manage-work {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    @include lg {
        flex-direction: row;
        gap: 6rem;
    }

    .presentation {
        padding-bottom: 1.5rem;


        @include lg {
            padding-left: 3.5rem;
            margin-left: 1.5rem;
            padding-right: 7rem;
        }

        .info {
            display: flex;
            flex-direction: row;

            i {
                padding-top: .2rem;
                padding-right: .8rem;
                color: $theme;
            }
        }

        .btn-theme {
            margin-top: 2.5rem;
        }
    }

    .image-container {
        img {
            max-width: 100%;
        }
    }
}
