@model AccountViewModel



<section id="details">
    <div class="container">

        <div class="menu-bar">
            @await Html.PartialAsync("~/Views/Shared/Component/_AccountNavbarPartial.cshtml")
        </div>

        <div class="account-details">

            <form asp-controller="Account" asp-action="UpdateBasicInfo" method="post" novalidate>
                <div class="user-details">
                    <h1>Account Details</h1>
                    <h5>Basic Info</h5>
                    <div class="name">
                        <div class="firstname">
                            <div class="validation">
                                <label asp-for="Details.FirstName">First name</label>
                                <span asp-validation-for="Details.FirstName"></span>
                            </div>
                            <input asp-for="Details.FirstName" />
                        </div>
                        <div class="lastname">
                            <div class="validation">
                                <label asp-for="Details.LastName">Last name</label>
                                <span asp-validation-for="Details.LastName"></span>
                            </div>
                            <input asp-for="Details.LastName" />
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="email">
                            <div class="validation">
                                <label asp-for="Details.Email">Email Address</label>
                                <span asp-validation-for="Details.Email"></span>
                            </div>
                            <input asp-for="Details.Email" />
                        </div>
                        <div class="phone">
                            <div class="validation">
                                <label asp-for="Details.Phone">Phone</label>
                                <span asp-validation-for="Details.Phone"></span>
                            </div>
                            <input asp-for="Details.Phone" />
                        </div>
                    </div>
                </div>
                <div class="bio">
                    <label asp-for="Details.Bio">Bio <span>(optional)</span></label>
                    <textarea asp-for="Details.Bio"></textarea>
                    <div class="user-buttons">
                        <a asp-controller="Account" asp-action="Cancel" class="btn-gray">Cancel</a>
                        <button type="submit" class="btn-theme">Save Changes</button>
                    </div>
                </div>
            </form>

            <div class="divider"></div>

            <form asp-controller="Account" asp-action="UpdateAddressInfo" method="post" novalidate>
                <div class="address">
                    <h5>Address</h5>
                    <div class="address-fields">
                        <div class="validation" id="first-address">
                            <label asp-for="AddressInfo.AddressLine1">Address line 1</label>
                            <span asp-validation-for="AddressInfo.AddressLine1"></span>
                            <input asp-for="AddressInfo.AddressLine1" />
                        </div>
                        <div class="validation">
                            <label asp-for="AddressInfo.AddressLine2">Address line 2<span>(optional)</span></label>
                            <input asp-for="AddressInfo.AddressLine2" />
                        </div>
                    </div>
                    <div class="city-info">
                        <div class="postal">
                            <div class="validation">
                                <label asp-for="AddressInfo.PostalCode">Postal Code</label>
                                <span asp-validation-for="AddressInfo.PostalCode"></span>
                            </div>
                            <input asp-for="AddressInfo.PostalCode" />
                        </div>
                        <div class="city">
                            <div class="validation">
                                <label asp-for="AddressInfo.City">City</label>
                                <span asp-validation-for="AddressInfo.City"></span>
                            </div>
                            <input asp-for="AddressInfo.City" />
                        </div>
                    </div>
                    <div class="address-button">
                        <a asp-controller="Account" asp-action="Cancel" class="btn-gray">Cancel</a>
                        <button type="submit" class="btn-theme">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>