@model AccountModel

<section id="details">
    <div class="container">

        <div class="menu-bar">
            <div class="profile">
                <div class="image">
                    <img src="~/images/john-doe.png" alt="image of John Doe" />
                </div>
                <h5 class="user-name">John Doe</h5>
                <p>john.doe@domain.com</p>
            </div>
            <div class="options">
                <a class="active" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-gear"></i>Account Details</a>
                <a class="menu-link" asp-controller="Account" asp-action="Security"><i class="fa-regular fa-lock"></i>Security</a>
                <a class="menu-link" asp-controller="Account" asp-action="SavedCourses"><i class="fa-sharp fa-regular fa-bookmark"></i>Saved Courses</a>
                <a class="menu-link" asp-controller="Account" asp-action="Sign Out"><i class="fa-solid fa-right-from-bracket"></i>Sign Out</a>
            </div>
        </div>

        <div class="account-details">
            <form asp-controller="Account" asp-action="SaveDetails" method="post">
                <div class="user-details">
                    <h1>Account Details</h1>
                    <h5>Basic Info</h5>
                    <div class="name">
                        <div class="firstname">
                            <label asp-for="FirstName">First name</label>
                            <input asp-for="FirstName" placeholder="John" />
                        </div>
                        <div class="lastname">
                            <label asp-for="LastName">Last name</label>
                            <input asp-for="LastName" placeholder="Doe" />
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="email">
                            <label asp-for="Email">Email Address</label>
                            <input asp-for="Email" placeholder="john.doe@domain.com" />
                        </div>
                        <div class="phone">
                            <label asp-for="Phone">Phone</label>
                            <input asp-for="Phone" placeholder="Enter your phone" />
                        </div>
                    </div>
                </div>
                <div class="bio">
                    <label asp-for="Bio">Bio <span>(optional)</span></label>
                    <textarea asp-for="Bio" placeholder="Add a short bio"></textarea>
                    <div class="user-buttons">
                        <button href="#" class="btn-gray">Cancel</button>
                        <button href="#" class="btn-theme">Save Changes</button>
                    </div>
                    <div class="divider"></div>
                    <div class="address">
                        <h5>Address</h5>
                        <label asp-for="AddressLine1">Address line 1</label>
                        <input asp-for="AddressLine1" placeholder="Enter your address line" />
                        <label asp-for="AddressLine2">Address line 2<span>(optional)</span></label>
                        <input asp-for="AddressLine2" placeholder="Enter your second address line" />
                        <div class="city-info">
                            <div class="postal">
                                <label asp-for="PostalCode">Postal Code</label>
                                <input asp-for="PostalCode" placeholder="Enter your postal code" />
                            </div>
                            <div class="city">
                                <label asp-for="City">City</label>
                                <input asp-for="City" placeholder="Enter your city" />
                            </div>
                        </div>
                        <div class="address-button">
                            <button type="button" href="#" class="btn-gray">Cancel</button>
                            <button type="submit" href="#" class="btn-theme">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>