@model AccountDetailsViewModel

<section id="details">
    <div class="container">

        <div class="menu-bar">
            <div class="profile">
                <div class="image">
                    <img src="~/images/john-doe.png" alt="image of John Doe" />
                </div>
                <h5 class="user-name">John Doe</h5>
                <p>john.doe@domain.com</p>
            </div>
            <div class="options">
                <a class="active" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-gear"></i>Account Details</a>
                <a class="menu-link" asp-controller="Account" asp-action="Security"><i class="fa-regular fa-lock"></i>Security</a>
                <a class="menu-link" asp-controller="Account" asp-action="SavedCourses"><i class="fa-sharp fa-regular fa-bookmark"></i>Saved Courses</a>
                <a class="menu-link" asp-controller="Account" asp-action="Sign Out"><i class="fa-solid fa-right-from-bracket"></i>Sign Out</a>
            </div>
        </div>

        <div class="account-details">
            <form asp-controller="Account" asp-action="Details" method="post">
                <div class="user-details">
                    <h1>Account Details</h1>
                    <h5>Basic Info</h5>
                    <div class="name">
                        <div class="firstname">
                            <label asp-for="Account.FirstName">First name</label>
                            <span asp-validation-for="Account.FirstName"></span>
                            <input asp-for="Account.FirstName" />
                        </div>
                        <div class="lastname">
                            <label asp-for="Account.LastName">Last name</label>
                            <span asp-validation-for="Account.LastName"></span>
                            <input asp-for="Account.LastName" />
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="email">
                            <label asp-for="Account.Email">Email Address</label>
                            <span asp-validation-for="Account.Email"></span>
                            <input asp-for="Account.Email" />
                        </div>
                        <div class="phone">
                            <label asp-for="Account.Phone">Phone</label>
                            <span asp-validation-for="Account.Phone"></span>
                            <input asp-for="Account.Phone" />
                        </div>
                    </div>
                </div>
                <div class="bio">
                    <label asp-for="Account.Bio">Bio <span>(optional)</span></label>
                    <textarea asp-for="Account.Bio"></textarea>
                    <div class="user-buttons">
                        <a asp-controller="Account" asp-action="Cancel" class="btn-gray">Cancel</a>
                        <button type="submit" class="btn-theme">Save Changes</button>
                    </div>
                    <div class="divider"></div>
                    <div class="address">
                        <h5>Address</h5>
                        <label asp-for="Account.AddressLine1">Address line 1</label>
                        <span asp-validation-for="Account.AddressLine1"></span>
                        <input asp-for="Account.AddressLine1" />
                        <label asp-for="Account.AddressLine2">Address line 2<span>(optional)</span></label>
                        <input asp-for="Account.AddressLine2" />
                        <div class="city-info">
                            <div class="postal">
                                <label asp-for="Account.PostalCode">Postal Code</label>
                                <span asp-validation-for="Account.PostalCode"></span>
                                <input asp-for="Account.PostalCode" />
                            </div>
                            <div class="city">
                                <label asp-for="Account.City">City</label>
                                <span asp-validation-for="Account.City"></span>
                                <input asp-for="Account.City" />
                            </div>
                        </div>
                        <div class="address-button">
                            <a asp-controller="Account" asp-action="Cancel" class="btn-gray">Cancel</a>
                            <button type="submit" class="btn-theme">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>