@model AccountViewModel

@{
    ViewData["Title"] = "Details";
}

<section id="details">
    <div class="container">

        <div class="menu-bar">
            @await Html.PartialAsync("~/Views/Shared/Component/_AccountNavbarPartial.cshtml")
        </div>

        <div class="account-details">

            @await Html.PartialAsync("~/Views/Shared/AccountDetails/_AccountBasicInfoPartial.cshtml")

            <div class="divider"></div>

            @await Html.PartialAsync("~/Views/Shared/AccountDetails/_AccountAddressInfoPartial.cshtml")

        </div>
    </div>
</section>


@await Html.PartialAsync("_UserMessageScriptPartial")
@await Html.PartialAsync("_ValidationScriptPartial")

