
@model AccountSecurityViewModel
<section id="security">
    <div class="container">
        <div class="menu-bar">
            @await Html.PartialAsync("~/Views/Shared/Component/_AccountNavbarPartial.cshtml")
        </div>

        <div class="security-details">
            <h2>Security</h2>
            <h5>Password</h5>
            <div class="delete-section">
                @await Html.PartialAsync("/Views/Shared/Security/_DeleteAccountPartial.cshtml", new AccountSecurityViewModel())
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")


