<section id="signin" class="container">
    <div class="main-holder">
        <div class="section-title">
            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <a href="#">Sign up here.</a></p>
        </div>
        <div class="login-box">
            <div class="email">
                <label>Email</label>
                <input placeholder="Enter your email address" />
            </div>
            <div class="password">
                <label>Password</label>
                <input name="password" />
            </div>
            <div class="checkbox">
                <input type="checkbox" />
                <p>Remember me</p>
            </div>
            <button class="btn-theme">Sign In</button>
            <div class="social-box">
                <a href="#">Forgot your password?</a>
                <div class="divider"></div>
                <p>Or sign in with your social network</p>
                <div class="social-media">
                    <a href="#"><i class="fa-brands fa-google"></i>Google</a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i>Facebook</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        &copy; @DateTime.Now.Year Silicon. All rights reserved.  Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare consectetur.
    </footer>
</section>