<section class="manage-work">
    <div class="presentation">
        <h2>Manage Your Work</h2>
        <i></i><p>Powerful project management</p>
        <i></i><p>Transparent work management</p>
        <i></i><p>Manage work & focus on the most important tasks</p>
        <i></i><p>Track your progress with interactive charts</p>
        <i></i><p>Easiest way to track time spent on tasks</p>
        <button class="btn-theme"></button>
    </div>
    <div class="image-container">
        <img src="~/images/manage_work.svg" />
    </div>
</section>
